import /tee.rc
import trustonic.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "11201000.usb0"
    setprop sys.usb.ffs.aio_compat 1

# We need vold early for metadata encryption
on early-fs
    start vold

on late-fs
    # Wait for keymaster
    exec_start wait_for_keymaster

on fs
    install_keyring
    write /sys/class/power_supply/usb/otg_switch 1
    write /sys/class/oplus_chg/usb/otg_switch 1

on post-fs
    start boot-1-1
    start mtk.plpath.utils.link

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    oneshot
    disabled
    seclabel u:r:recovery:s0
	
service vendor.keymint-trustonic /vendor/bin/hw/android.hardware.security.keymint-service.trustonic
    class early_hal
    user root
    seclabel u:r:recovery:s0
	
service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
	
on property:vendor.sys.listeners.registered=true
    start mobicore
    start vendor.keymint-trustonic
    start vendor.gatekeeper-1-0	
	
on property:hwservicemanager.ready=true
    start mobicore
    start vendor.keymint-trustonic
    start vendor.gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop mobicore
    stop vendor.keymint-trustonic
    stop vendor.gatekeeper-1-0

on property:ro.crypto.state=unencrypted
     stop mobicore
    stop vendor.keymint-trustonic
    stop vendor.gatekeeper-1-0

on property:ro.crypto.state=encrypted
    stop mobicore
    stop vendor.keymint-trustonic
    stop vendor.gatekeeper-1-0
    

on property:twrp.decrypt.done=true
    stop mobicore
    stop vendor.keymint-trustonic
    stop vendor.gatekeeper-1-0

on property:crypto.ready=0
    stop mobicore
    stop vendor.keymint-trustonic
    stop vendor.gatekeeper-1-0

on property:sys.usb.config=fastboot
    start servicemanager
    start hwservicemanager
    restart fastbootd

on post-fs-data
    mkdir /data/vendor_de 0770 system system
    mkdir /data/vendor_de/0 0770 system system
    
on boot
    start health-hal-2-1
    setprop sys.usb.config adb
	
	
